@import url(./_active/button_active.css);
@import url(./_disabled/button_disabled.css);
@import url(./_font-size/_large/button_font-size_large.css);
@import url(./_font-size/_small/button_font-size_small.css);

.button {
  border: 1px solid white;
  /*display: block;*/
  cursor: pointer;
}

.button:focus {
  outline-color: greenyellow;
}
